.events {
    margin-bottom: 2rem; }
  
  .events .col {
    margin-bottom: 2rem; }
  
  .event {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 250px;
    background-color: #cccccc;
    word-break: break-word; }
  
  .event h3 {
    margin-bottom: 1rem; }
  
  .event ul {
    list-style: none;
    font-style: italic; }
  
  .event .card {
    position: absolute;
    display: flex;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transform-style: preserve-3d;
    transition: transform 300ms ease-in-out; }
  
  .event:hover .card {
    transform: rotateY(180deg); }
  
  .event .face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    padding: 0.5rem;
    background-color: #cccccc; }
  
  .face.back {
    transform: rotateY(180deg); }
  
    @import './config';
    .event .front {
    display: flex; }
  
  .front h3 {
    margin: auto;
    font-size: 2em;
    text-align: center; }
  
  .event .back {
    display: flex;
    flex-direction: column;
    justify-content: space-between; }

    .face.back {
        transform: rotateY(180deg); }
      
      .event .front {
        display: flex; }
      
      .front h3 {
        margin: auto;
        font-size: 2em;
        text-align: center; }
      
      .event .back {
        display: flex;
        flex-direction: column;
        justify-content: space-between; }
      
      button {
        background-color: #222222;
        color: #eeeeee;
        border: 1px solid #000000;
        border-radius: 5px;
        padding: 0.5rem;
        word-break: initial;
        transition: color 300ms ease-in-out,
       background-color 300ms ease-in-out; }
      
      button:hover {
        background-color: #eeeeee;
        color: #222222; }
      
      button:active {
        background-color: #222222;
        color: #eeeeee;
        border: 1px solid #000000; }
      